body{
  padding-top: 2em !important;
}

.hidden{
  display: none;
}

.logo{
  margin-top: 15px;
  margin-right: 13px;
  padding: 5px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 5px;
}

.text{
  margin-left: 15px !important;
}